@charset="utf-8"; 

/*required*/

* { margin: 0; padding: 0; }

html { font-size: 100%; }

body { font-family:  "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic", sans-serif; }

img { width: 100%; }



/*global*/

.sub_title { 
	font-size: 28px; 
	font-weight: 600; 
	line-height: 51px; 
}

btn { 
	border-radius: 100vh; 
	background-color: #DA6B64; 
}

btn:hover {
	background-color: #d84940; 
}

a { color: #fff; text-decoration: none; }

a:hover { color: #fff; text-decoration: none;}

/*header*/

.header {
	max-height: 730px; 
}

navbar {
	margin: 0 8%; 
	max-height: 80px; 
}
.nav_container { justify-content: space-between !important; margin: 0 10%; }

.navbar .navbar-brand { width: 155px; height: auto; max-height: 56px; margin-right: 0.5rem !important;}

.nav_item1 p { font-size: 14px; font-weight: 600; line-height: 22px; margin-bottom: 0;}

.header_container {
	padding: 7% 0 5% 0; 
	background-image: url('../img/main.jpg');
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover; 
	min-height: 70vh; 
	max-height: 71vh; 
}

.header_item {
	text-align: center !important; 
	margin: 0 auto;
	max-width: 80vw; 
	height: auto; 
}

.header_item .sub_title br { display: inline !important; }

.header_item img { max-width: 286px; max-height: 128px; }

.header_item p { 
	font-size: 20px;
	font-weight: 600;
	line-height: 22px;
}

.header_item space { margin-top: 3%; }

.header btn {
	position: relative; 
	width: 317px; 
	height: 44px; 
}

.header btn::before {
	position: absolute; 
	content: "お問い合わせ / 資料請求はこちら";
	font-weight: 400; 
	font-size: 14px; 
	letter-spacing: .1rem;
	color: #fff; 
	left: 12%;
	top: 24%;
}

.header btn::before: hover { opacity: .8; }


/*orange*/

.orange {
	background-color: rgb(235,185,77); 
	max-height: 766px; 
	text-align: center; 
	margin: 0 auto; 
	color: #fff; 
}

.text_box1 {
	font-size: 20px; 
	font-weight: 600; 
	line-height: 32px; 
}

.text_box1 .cat {
	display: inline-block;
	color: #c7254e; 
	font-size: 18px; 
	line-height: 29px; 
	background: rgb(249,242,244); 
	border-radius: 5px; 
}


.text_box2 {
	font-size: 21px; 
	font-weight: 600; 
	line-height: 34px; 
}

.text_box2 br { display: none; }

.orange btn {
	font-size: 28px; 
	font-weight: 600;
	line-height: 45px; 
	width: 1030px; 
	height: 97px; 
}

.sns_box p, .sns_box　a {
	font-size: 13px;
	font-weight: 530; 
	border-radius: 5px; 
	background: rgb(24,119,242); 
}

.sns_box .my_twitter { background: rgb(27,149,224); }

.sns_box a:hover { opacity: .8; }


/*concept*/

.concept {
	max-height: 734px; 
	text-align: center; 
	margin: 0 auto; 
}

#concept {
	background-image: url('../img/introbottom.jpg');
	background-position: center; 
	background-size: cover; 
	background-repeat: no-repeat; 
	min-height: 76vh; 
}

.concept_item {
	margin: 4% 0; 
}

.concept_item .sub_title::before {
	position: absolute; 
	content: "";
	top: 0;
    left: 0;
    border-top: 4px solid #ebb94d;
    border-left: 4px solid #ebb94d;
}

.concept_item .sub_title::after {
	position: absolute; 
	content: "";
	bottom: 0;
    right: 0;
    border-bottom: 4px solid #ebb94d;
    border-right: 4px solid #ebb94d;
}

.sub_title::before, 
.sub_title::after { width: 50px; height: 50px; box-sizing: border-box; }

.sub_title { 
	position: relative;
	text-align: center;
    margin: 0 auto;
    max-width: 1088px;
    max-height: 160px;
}

.sub_title br { display: none; }

.text_box3 {
	font-size: 20px; 
	font-weight: 300; 
	line-height: 32px; 
	margin: 0 auto; 
	max-width: 1088px; 
	text-align: center; 
}

.brsp { display: none; }

.underline { 
	font-size: 20px; 
	font-weight: 700; 
	line-height: 32px; 
	background: linear-gradient(transparent 60%, #ffa500 0%);
}

/*circle*/

/**--注１. 
	.circle {
		position: relative; 
	}

	.circle::before {
		display: none; 
		position: absolute;
		content: 'ABOUT';
		color: #fff;
		font-size: .95rem;
		line-height: 80px;
		font-weight: 400;
		z-index: 30;
		top: -37px;
		left: 46.3%;
	}

	.circle::after {
		display: none; 
		position: absolute;
		content: '';
		top: -35px;
		left: 45%;
		padding: 2.8%;
		background-color: rgb(236, 185, 77);
		border-radius: 50%;
		z-index: 0;
	}
		
--**/

/*about*/

.about .wrapper {
	background-color: rgb(254,245,224); 
	padding: 8% 2% 5% 2%; 
}

.about_item, 
.merit_item { 
	margin: 0 auto; 
	position: relative;
	max-width: 860px; 
	max-height: 140px; 
}

.about_item .sub_title h2 { 
	text-align: center; 
}

.about_item .sub_title::before,
.merit_item .sub_title::before {
	position: absolute; 
	content: '';
	box-sizing: border-box; 
	top: 0; 
	left: 0; 
	width: 50px; 
	height: 50px; 
	border-top: 4px solid #ebb94d;
    border-left: 4px solid #ebb94d;
}

.about_item .sub_title::after,
.merit_item .sub_title::after {
	position: absolute; 
	content: '';
	box-sizing: border-box; 
	bottom: 0; 
	right: 0; 
	width: 50px; 
	height: 50px; 
	border-bottom: 4px solid #ebb94d;
    border-right: 4px solid #ebb94d;
}

.about_item .sub_title br { display: inline-block; }

.about_box p {
	text-align: center; 
	font-size: 20px; 
	font-weight: 600; 
	line-height: 32px; 
}

.about_box br { display: none; }

.flex_title h4 {
	font-size: 20px; 
	font-weight: 600; 
	line-height: 32px; 
}

.flex_title br { display: none; }


.about .flex_box {
	background-color: #fff; 
	margin: 0 auto; 
	text-align: center; 
	max-width: 1170px; 
	min-height: 260px; 
	max-height: 385px; 
	border: 2px rgb(235,185,77) solid; 
	border-radius: 5px; 
}

.about .flex_item {
	margin: 0 auto; 
	text-align: center; 
	max-width: 754px; 
	min-height: 197px; 
	max-height: 380px; 
	font-size: 12px; 
	line-height: 19px; 
	font-weight: 300; 
}

.about .flex_item .item2, 
.about .flex_item .item4 {
	margin: 0 3%; 
}

.about .flex_item .item1 img, 
.about .flex_item .item3 img, 
.about .flex_item .item4 img {
	width: 3.2rem; 
}

.about .flex_item .item2 img { width: 4.5rem; }

.about .flex_item .item5 img { width: 8rem; }

/*about2*/

.about2 .wrapper { 
	padding-top: 4%; 
	padding-bottom: 3%; 
	margin: 0 auto; 
	text-align: center; 
	color: #fff; 
}

.about2 {
	max-width: 1920px; 
	max-height: 740px; 
}

.about2 space { color: rgb(235,185,77); }

#about2 { 
	background-image: url(../img/aboutsecondbg.jpg); 
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: center; 
	max-width: 1640px; 
	max-height: 556px;
	min-height: 399px; 
}

.about2_box {
	font-size: 20px; 
	font-weight: 600; 
	line-height: 32px; 
}

.about2_box br { display: none; }

.about2 .item {
	padding-top: 2%; 
	text-align: center; 
	width: 374px; 
	height: 178px; 
	background: #fff; 
	color: #000; 
	font-size: 14px; 
	font-weight: 600; 
	line-height: 22px; 
	border-radius: 5px; 
	letter-spacing: .1rem; 
}

.about2 .item h6 {
	text-align: center; 
	margin: 0 auto 3% auto; 
	width: 314px; 
	height: 18px; 
	border-radius: 5px; 
	background-color: rgb(235,185,77); 
	color: #fff; 
}

.about2_blue {
	padding: 3% 0; 
	margin: 0 auto; 
	text-align: center; 
	height: 144px; 
	background: rgb(1,110,169); 
	color: #fff; 
	font-size: 20px; 
	font-weight: 600;
	line-height: 32px; 
}

.about2_blue p br { display: none; }

/*learn*/

.learn .wrapper { 
	background: #fff !important; 
	padding-bottom: 3%; 
	margin: 0 auto; 
	text-align: center; 
	color: #000; 
}

.learn_item p {
	font-size: 20px; 
	font-weight: 300; 
	line-height: 32px; 
}

.learn_item br { display: none; }

.learn_box {
	margin: 40px 0; 
}

.learn_box img {
	width: 210px; 
	height: 180px; 
	margin-right: 15px; 
	padding: 0 15px; 
}

.learn_text p {
	font-size: 16px; 
	font-weight: 600; 
	line-height: 26px; 
}

/*merit*/

.merit { background-color: #FEF5E0 } 

.merit .flex_item,
.member .flex_item {
	display: flex; 
	flex-direction: row; 
	justify-content: center; 
}

.merit_item .sub_title h4, 
.merit_item .sub_title h2 {
	font-size: 28px; 
	font-weight: 600; 
	line-height: 40px; 
}

.merit .item_title { 
	color: #EBB94D; 
	font-size: 20px; 
	font-weight: 700; 
	line-height: 32px; 
	text-align: left; 
}

.merit .flex_item p { 
	font-size: 16px; 
	font-weight: 300; 
	line-height: 26px; 
	text-align: left; 
	letter-spacing: .08rem; 
}

.merit .item .learnfromfreelance,
.merit .item .learnfromprojects, 
.merit .item .actuallyfree { 
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover; 
	height: 22vh; 
}

.merit .item .learnfromfreelance { background-image: url('../img/learnfromfreelancer.jpg'); }
.merit .item .learnfromprojects { background-image: url('../img/learnfromprojects.jpg'); }
.merit .item .actuallyfree { background-image: url('../img/actuallyfree.jpg'); }

.merit_box {
	margin: 0 auto; 
	padding: 3%; 
	text-align: center; 
	background-color: #fff; 
	border: 2px #EBB94D solid; 
	border-radius: 5px;
	font-size: 16px; 
	font-weight: 600; 
	line-height: 26px; 
}

.merit_box h4 {
	color: #ebb94d; 
	font-size: 28px; 
	font-weight: 600; 
	line-height: 45px; 
}

.merit_box h6 {
	font-size: 20px; 
	font-weight: 600; 
	line-height: 32px; 
}

.merit_text {
	margin: 0 auto; 
	padding: 3%; 
	text-align: center; 
	font-size: 14px; 
	font-weight: 300; 
	line-height: 22px; 
}

/*member*/

.member .wrapper { 
	padding-top: 4%; 
	padding-bottom: 2%; 
	margin: 0 auto; 
	text-align: center; 
	color: #fff; 
}

/**　背景固定このままではiOSに効かない
#member { 
	background-image: url('../img/teacherbg.jpg'); 
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: center; 
	background-attachment: fixed; 
}
**/

#member::before{
  content:"";
  display:block;
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
  width:100%;
  height:100vh;
  background:url('../img/teacherbg.jpg') center no-repeat;
  background-size:cover;
}


.member .sub_title　h2 {
	font-size: 28px; 
	font-weight: 600 !important; 
	line-height: 40px; 
}

.member .sub_title p {
	font-size: 16px; 
	font-weight: 600; 
	line-height: 26px; 
}

.member .item img { 
	position: relative; 
	bottom: -30px; 
	z-index: 20;
}

.member .inside {
	border: 3px #fff solid; 
	z-index: 0; 
}

.member .flex_item p {
	box-sizing: border-box; 
	font-size: 16px; 
	font-weight: 300; 
	line-height: 26px; 
	letter-spacing: .1rem; 
}

/*opinion*/

.opinion_title { 
	position: relative; 
	text-align: center; 
	background: #EBB94D; 
	color: #fff;
	font-size: 28px; 
	font-weight: 600; 
	line-height: 40px; 
}

.opinion_title .sub_title::before {
	position: absolute; 
	content: '';
	box-sizing: border-box; 
	top: 0; 
	left: 0; 
	width: 50px; 
	height: 50px; 
	border-top: 4px solid #fff;
    border-left: 4px solid #fff;
}

.opinion_title .sub_title::after {
	position: absolute; 
	content: '';
	box-sizing: border-box; 
	bottom: 0; 
	right: 0; 
	width: 50px; 
	height: 50px; 
	border-bottom: 4px solid #fff;
    border-right: 4px solid #fff;
}

.opinion_title .qanda {
	display: inline-block; 
	text-align: center;
    margin: 1% auto;
    color: #EBB94D;
    width: 80px;
    min-height: 80px;
    background: #fff;
    border-radius: 50%;
}

.opinion_title .qanda p {
	margin: 0 auto; 
	font-size: 14px; 
	font-weight: 400; 
	line-height: 80px; 
}

.opinion_title::after {
	position: absolute; 
	content:''; 
	top: 100%; 
	left: 50%; 
	border-top: 25px solid #EBB94D;
	border-right: 25px solid transparent;
	border-left: 25px solid transparent;
	margin-left: -25px; 
}

.opinion_box .sub_title h2 {
	color: #333; 
	font-size: 28px; 
	font-weight: 600; 
	line-height: 45px; 
}

.opinion_box .sub_title p {
	color: #333; 
	font-size: 16px; 
	font-weight: 600; 
	line-height: 26px; 
}

.opinion_box .sub_title small {
	color: #333; 
	font-size: 14px; 
	font-weight: 300; 
	line-height: 22px; 
}

.opinion .flex_item {
		flex-direction: column; 
		justify-content: center; 
		align-items: center; 
}

.opinion .inside { padding: 0 4%; }

.opinion .inside .text-left p {
	color: #777; 
	font-size: 18px; 
	font-weight: 400; 
	line-height: 29px; 
}

.opinion .inside .name p {
	color: #777; 
	text-decoration: underline; 
	font-style: italic;
	font-size: 15px; 
	font-weight: 400; 
	line-height: 24px; 
}

.opinion img { border: 3px #EBB94D solid; vertical-align:bottom;}


/*learn2  30h here*/

.learn2 .wrapper { 
	padding-top: 4%; 
	padding-bottom: 3%; 
	margin: 0 auto; 
	text-align: center; 
	color: #fff; 
}

#learn2 { 
	background-image: url('../img/classbg.jpg'); 
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: center; 
}

.learn2 .sub_title h2 {
	font-size: 28px; 
	line-height: 40px; 
	font-weight: 600; 
}

.learn2 .sub_title p {
	font-size: 16px; 
	line-height: 26px; 
	font-weight: 600; 
}

.learn2 .flex_box {
	color: #000; 
}

.learn2 .flex_item {
	align-items: baseline; 
	justify-content: center; 
}

.learn2 .item{
	margin: 1.5%; 
	background: #fff; 
	border: 3px #016EA9 solid; 
	border-radius: 5px; 
}

.learn2 .item_title {
	padding: 1.5% 0; 
	font-size: 20px; 
	line-height: 32px; 
	font-weight: 600; 
	color: #fff; 
	background: #016EA9; 
	border: 3px #016EA9 solid; 
}

.learn2 .item_title p {
	text-align: center; 
	margin: 0 auto; 
}

.learn2 .item_content p {
	font-size: 16px; 
	line-height: 26px; 
	font-weight: 600; 
	padding: 1% 0; 
	border-bottom: 1px #E5E5E5 dotted; 
}

/**32h 1/1**/
	




/**注１.@media(min-height: 720px) and (max-height: 824px) の、
circle::afterとbeforeが、謎にdisplayのcssに適応するせいで、displayのcircleが編集不可能**/
/**注2. headerのnav_item（logoとp）が完璧に横並びにならない**/
/**注３. ボタンの色実際にひらいたらヤバい、形もちがう（Devでは良いのに）**/
/**注４. learn_box のimgが（Devでは良いのに）、携帯でみたらヤバい**/
/**注6. .opinion .flex_itemがなぜ、余白なしにセンター並びできたか、理解していない。写した**/
/**注７. opinion写真を同じ大きさにどうしてもできない**/


/**注５. OGPが上手く機能していない →　画像絶対パスで指定しないと表示されない**/

/*etc----------------------*/
@media (max-width: 1050px) {
	/*global*/

	.sub_title { 
		font-size: 24px; 
		line-height: 45px; 
	}
	
	/*header*/
	.navbar {max-height: 66px; margin: 0; }
	
	.nav_container { justify-content: space-between !important; margin: 0 2%;}
	
	.header_container {
		padding: 7% 0 5% 0; 
		background-image: url('../img/mainsp.jpg');
		background-position: center; 
		background-repeat: no-repeat; 
		background-size: cover; 
		min-height: 56vh;
		max-height: 56vh; 
	}
	
	.nav_item1 p { font-size: 10px; line-height: 16px; }
	
	.navbar .navbar-brand { width: 105px; height: 45px; }
	
	.header btn {
		width: 243px; 
		height: 46px; 
	}
	
	
	.header btn::before {
		position: absolute; 
		content: "お問い合わせ / 資料請求はこちら";
		font-weight: 400; 
		font-size: 12px; 
		color: #fff; 
		left: 9%;
		top: 29%;
	}
	
	/*orange*/
	
	.text_box1 {
		font-size: 16px; 
		font-weight: 600; 
		line-height: 26px; 
	}
	
	.text_box1 .cat {
		font-size: 15px;
		font-weight: 550; 
		line-height: 23px; 
	}
	
	.orange btn {
		font-size: 18px; 
		line-height: 29px; 
		height: 81px; 
	}
	
	.text_box2 {
		font-size: 18px; 
		line-height: 29px; 
	}
	
	
	
	/*concept*/
	
	#concept {
		min-height: 72vh; 
	}
	
	.sub_title::before {
		top: 0%;
		left: 0%;
	}

	.sub_title::after {
		bottom: 9%;
		right: 0%;
	}
	
	.sub_title::before, 
	.sub_title::after { width: 30px; height: 30px; }
	
	.text_box3 { 
		font-size: 16px; 
		font-weight: 300; 
		line-height: 26px; 
		max-width: 100%;
	}
	
	.underline { 
		font-size: 16px; 
		line-height: 26px; 
	}
	
	/*learn*/
	
	.learn_box img {
		width: 180px; 
		height: 150px; 
		margin-right: 5px; 
		padding: 0 15px; 
	}
	
	/*about*/
	
	.flex_title br { display: inline; }
	
	.about_box p {
		font-size: 16px; 
		line-height: 26px; 
	}

	.flex_title h4 {
		font-size: 16px; 
		line-height: 26px; 
	}

	.about .flex_box {
		max-height: 218px; 
	}

	.about .flex_item {
		max-height: 216px; 
	}

	.about .flex_item .item2, 
	.about .flex_item .item4 {
		margin: 0 2%; 
	}

	.about .flex_item .item1 img, 
	.about .flex_item .item3 img, 
	.about .flex_item .item4 img {
		width: 3rem; 
	}

	.about .flex_item .item2 img { width: 4.2rem; }

	.about .flex_item .item5 img { width: 7.2rem; }
	
	/*about2*/

	.about2 {
		max-width: 100%; 
		max-height: 930px; 
	}

	#about2 { 
		max-width: 100%; 
		min-height: 810px; 
	}

	.about2_box {
		font-size: 20px; 
	}
	
	.about2 .flex_item {
		align-items: center; 
		flex-direction: column !important;
		text-align: center; 
		margin: 0 auto; 
		justify-content: center; 
		flex-wrap: wrap; 
	}

	.about2 .item {
		margin: 0 auto 2%; 
		width: 322px; 
		height: 168px; 
	}

	.about2 .item h6 {
		width: 262px; 
		height: 18px; 
	}
	
	/*merit*/

	.merit .flex_item {
		display: flex; 
		flex-direction: row; 
		justify-content: center; 
		align-items: start; 
	}
	
	/*member*/
	
	.member .flex_item {
		flex-direction: column; 
		justify-content: center; 
		align-items: center; 
	}

	.member .sub_title　h2 {
		font-size: 24px; 
		font-weight: 600 !important; 
	}

	.member .sub_title p {
		font-size: 14px; 
		font-weight: 600 !important; 
		line-height: 22px; 
	}

	.member .flex_item p {
		font-size: 14px; 
		line-height: 22px; 
	}

	/*opinion*/

	.opinion_title h2 { 
		font-size: 20px; 
		font-weight: 600; 
		line-height: 38px; 
	}

	.opinion_title .qanda {
		width: 80px;
		min-height: 80px;
	}

	.opinion_title .qanda p {
		font-size: 18px; 
	}

	.opinion_box .sub_title h2 {
		font-size: 24px; 
		line-height: 38px; 
	}

	.opinion_box .sub_title p {
		font-size: 14px; 
	}

	.opinion_box .sub_title small {
		font-size: 12px; 
		line-height: 19px; 
	}
	
	.opinion .inside .text-left p {
		font-size: 18px; 
		font-weight: 400; 
		line-height: 29px; 
	}

	.opinion .inside .name p {
		font-size: 15px; 
		font-weight: 400; 
		line-height: 24px; 
	}
	
	.opinion .inside { padding: 0; }

	/*learn2*/

	.learn2 .sub_title h2 {
		font-size: 24px; 
	}

	.learn2 .sub_title p {
		font-size: 14px; 
		line-height: 22px; 
	}

	.learn2 .item_title {
		font-size: 16px; 
		line-height: 26px; 
	}

	.learn2 .item_content p {
		font-size: 14px; 
		line-height: 22px; 
	}
	
}

/*iphone 5s etc---------------*/
@media (max-width: 786px) {
	/*global*/

	.sub_title { 
		font-size: 18px; 
		line-height: 29px; 
	}
	
	/*header*/
	.navbar { max-height: 59px; margin: 0; padding: 0; }
	
	.nav_container { justify-content: space-between !important; margin: 0;}
	
	.header_container {
		padding: 10% 0 5% 0; 
		background-image: url('../img/mainsp.jpg');
		background-position: center; 
		background-repeat: no-repeat; 
		background-size: cover; 
		min-height: 41vh; 
	}

	.navbar .navbar-brand { width: 105px; height: 45px; }
	
	.header_item p { 
		font-size: 15px;
		line-height: 17px;
	}

	.header btn {
		border-radius: 0 !important; 
		position: relative; 
		width: 84px; 
		height: 59px; 
	}

	.header btn::before {
		border-radius: 0 !important; 
		position: absolute; 
		content: "資料請求";
		font-weight: 400; 
		font-size: 12px; 
		letter-spacing: .1rem;
		color: #fff; 
		left: 14%;
		top: 68%;
	}
	
	.header btn::after {
		border-radius: 0 !important; 
		position: absolute; 
		content: '';
		background: url(../img/form.png);
		background-repeat: no-repeat; 
		background-size: contain;
		display: inline-block;
		width: 2.3em;
		height: 1.85em; 
		color: #fff;
		left: 30%;
		top: 12%;
	}
	
	/*orange*/
	
	.text_box2 br { display: inline; }
	
	.text_box1 {
		font-size: 15px; 
		font-weight: 600; 
		line-height: 24px; 
	}
	
	.text_box1 .cat {
		font-size: .65rem;
		line-height: 20px; 
	}
	
	.orange btn {
		font-size: 1rem; 
		line-height: 29px; 
		height: 81px; 
	}
	
	.text_box2 {
		font-size: 15px; 
		line-height: 24px; 
	}
	
	/*concept*/
	
	#concept {
		height: auto; 
		min-height: 110vh; 
	}
	
	#concept .sub_title {
		font-size: 18px; 
		line-height: 40px; 
	}
	
	.sub_title br { display: inline; }
	
	.brsp { display: block; }
	
	.text_box3 { 
		font-size: .895rem; 
		line-height: 24px; 
		max-width: 100%;
	}
	
	.underline { 
		font-size: .895rem; 
		line-height: 24px; 
	}
	
	/*circle*/
	
	.circle {
		position: relative; 
	}
	
	.circle::before {
		display: inline-block; 
		position: absolute;
		content: 'ABOUT';
		color: #fff;
		font-size: .8rem;
		line-height: 80px;
		font-weight: 400;
		z-index: 30;
		top: -39px;
		left: 44%;
	}

	.circle::after {
		position: absolute;
		content: '';
		display: inline-block; 
		top: -25px;
		left: 43%;
		padding: 8%;
		background-color: rgb(236, 185, 77);
		border-radius: 50%;
		z-index: 0;
	}
	
	/*about*/
	
	.about .wrapper {
		padding: 20% 2%; 
	}

	.about_item { 
		margin: 0 auto; 
		position: relative;
		max-width: 860px; 
		max-height: 140px; 
	}

	.about_item .sub_title h2 { 
		font-size: 18px; 
		line-height: 40px; 
	}

	.about_item .sub_title::before,
	.merit_item .sub_title::before 
	{
		position: absolute; 
		content: '';
		box-sizing: border-box; 
		top: 0; 
		left: 0; 
		width: 30px; 
		height: 30px; 
		border-top: 4px solid #ebb94d;
		border-left: 4px solid #ebb94d;
	}

	.about_item .sub_title::after,
	.merit_item .sub_title::after 
	{
		position: absolute; 
		content: '';
		box-sizing: border-box; 
		bottom: 0; 
		right: 0; 
		width: 30px; 
		height: 30px; 
		border-bottom: 4px solid #ebb94d;
		border-right: 4px solid #ebb94d;
	}

	.about_item .sub_title br { display: inline-block !important; }

	.about_box p {
		font-size: 15px; 
		line-height: 24px; 
	}
	
	.about_box br { display: inline !important; }

	.flex_title h4 {
		font-size: 15px; 
		line-height: 24px; 
	}

	.flex_title br { display: inline; }


	.about .flex_box {
		background-color: #fff; 
		margin: 0 auto; 
		text-align: center; 
		max-width: 1170px; 
		min-height: 260px; 
		max-height: 399px; 
		border: 2px rgb(235,185,77) solid; 
		border-radius: 5px; 
	}

	.about .flex_item {
		margin: 0 auto; 
		text-align: center; 
		max-width: 754px; 
		min-height: 197px; 
		max-height: 380px; 
		font-size: 12px; 
		line-height: 19px; 
		font-weight: 300; 
	}

	.about .flex_item .item2, 
	.about .flex_item .item4 {
		margin: 0 2%; 
	}

	.about .flex_item .item1 img, 
	.about .flex_item .item3 img, 
	.about .flex_item .item4 img {
		width: 2rem; 
	}

	.about .flex_item .item2 img { width: 3.2rem; }

	.about .flex_item .item5 img { width: 5rem; }

	
	/*about2*/

	.about2 {
		max-width: 100%; 
		max-height: 740px; 
	}

	#about2 { 
		background-image: url(../img/aboutsecondbgsp.jpg); 
		max-width: 100%; 
		min-height: 630px; 
	}
	
	.about2_item .sub_title {
		font-size: 18px; 
		line-height: 20px; 
	}

	.about2_box {
		font-size: 13px; 
		line-height: 21px; 
	}

	.about2_box br { display: inline-block; }

	.about2 .item {
		padding-top: 2%; 
		padding-bottom: 3%;
		margin-bottom: 5%; 
		width: 96%; 
		height: 106px; 
		font-size: 12px; 
		line-height: 19px; 
	}

	.about2 .item h6 {
	    text-align: center; 
		margin: 0 auto 3% auto; 
		width: 80%; 
		height: 18px; 
		font-weight: 600; 
	}

	.about2_blue {
		padding: 4% 0 3% 0; 
		height: 80px; 
		font-size: 12px; 
		line-height: 19px; 
	}

	.about2_blue p br { display: inline; }
	
	.about2_blue p { margin-bottom: 0 !important; }
	
	
	/*learn*/

	.learn .wrapper { 
		padding-bottom: 3%; 
		margin: 0 auto; 
		text-align: center; 
		color: #000; 
	}

	.learn_item p {
		font-size: 15px; 
		line-height: 24px; 
	}
	
	.learn_box {
		margin: 25px 0 ;
	}
	
	.learn_box img {
		width: 80px; 
		height: 50px; 
		margin-right: 0; 
		padding: 0 8px; 
	}

	.learn_item br { display: inline-block; }

	.learn_text p {
		font-size: 12px; 
		line-height: 19px; 
	}
	
	/*merit*/

	.merit .flex_item,
	.member .flex_item {
		flex-direction: column; 
		justify-content: center; 
		align-items: center; 
	}
	
	.merit_item .sub_title h4 { font-size: 15px; line-height: 21px; }
 
	.merit_item .sub_title h2 { font-size: 18px; }
	

	.merit .item_title { 
		font-size: 15px; 
		line-height: 24px; 
		text-align: center; 
	}

	.merit .flex_item p { 
		font-size: 12px; 
		line-height: 19px; 
		text-align: left; 
		letter-spacing: .08rem; 
	}

	.merit_box {
		font-size: 16px; 
		font-weight: 600; 
		line-height: 26px; 
	}

	.merit_box h4 {
		font-size: 18px; 
		line-height: 29px; 
	}

	.merit_box h6 {
		font-size: 15px; 
		line-height: 24px; 
	}

	.merit_text {
		margin: 0 auto; 
		padding: 3%; 
		text-align: center; 
		font-size: 12px; 
		line-height: 19px; 
	}
	
	.merit_box p {
		font-size: 10px; 
		line-height: 16px; 
	}
	
	.merit_box br { display: inline-block; }
	
	.merit_text br { display: inline-block; }
	
		
	/*member*/
	
	.member .flex_item {
		flex-direction: column; 
		justify-content: center; 
		align-items: center; 
	}

	.member .sub_title　h2 {
		font-size: 18px; 
	}

	.member .sub_title p {
		font-size: 12px; 
		line-height: 19px; 
	}

	.member .flex_item p {
		font-size: 13px; 
		line-height: 19px; 
	}
	
	/*opinion*/
	
	.opinion_title .sub_title::before {
		width: 30px; 
		height: 30px; 
	}

	.opinion_title .sub_title::after {
		width: 30px; 
		height: 30px; 
	}
	
	.opinion_title h2 { 
		font-size: 14px; 
		line-height: 40px; 
	}

	.opinion_title .qanda {
		width: 80px;
		min-height: 80px;
	}

	.opinion_title .qanda p {
		font-size: 15px; 
	}

	.opinion_box .sub_title h2 {
		font-size: 18px; 
		line-height: 29px; 
	}

	.opinion_box .sub_title p {
		font-size: 12px; 
		line-height: 19px; 
	}

	.opinion_box .sub_title small {
		font-size: 12px; 
		line-height: 19px; 
	}
	
	.opinion .inside .text-left p {
		font-size: 15px; 
		line-height: 29px; 
	}

	.opinion .inside .name p {
		font-size: 13px; 
		font-weight: 400; 
		line-height: 24px; 
	}
	
	.opinion .inside { padding: 0; }

	/*learn2*/

	.learn2 .sub_title h2 {
		font-size: 18px; 
	}

	.learn2 .sub_title p {
		font-size: 12px; 
		line-height: 19px; 
	}

	.learn2 .item_title {
		font-size: 15px; 
		line-height: 24px; 
	}

	.learn2 .item_content p {
		font-size: 12px; 
		line-height: 19px; 
	}
	

	
}



/**Displayに反応してしまう。。。泣**/
/*iPhoneX. iPhone6Plus. Pixel2 XL----------------*/
@media(min-height: 720px) and (max-height: 824px) {
	/*concepr*/
	#concept {
		height: auto; 
		min-height: 86vh; 
	}
	
	/*circle*/
	
	.circle::before {
		display: none; 
		position: absolute;
		content: 'ABOUT';
		color: #fff;
		line-height: 80px;
		font-weight: 400;
		z-index: 30;
		font-size: .9rem;
		top: -39px;
		left: 44%;
	}

	.circle::after {
		display: none; 
		position: absolute;
		content: '';
		top: -30px;
		left: 43%;
		padding: 7%;
		background-color: rgb(236, 185, 77);
		border-radius: 50%;
		z-index: 0;
	}
	
	.circle {
		position: relative; 
	}
	
	/*learn*/
	
}


/*iPad iPadPro-----------------------------------*/
@media(min-height: 1022px) and (max-height: 1368px) {
	
	/*header*/
	
	.header_container {
		padding: 7% 0 5% 0;
		background-image: url(../img/mainsp.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 34vh;
		max-height: 56vh;
	}
	
	/*orange*/
	
	.orange btn {
		font-size: 18px; 
		line-height: 29px; 
		height: 81px; 
	}
	
	.text_box2 {
		font-size: 18px; 
		line-height: 29px; 
	}
	
	
	/*concepr*/
	#concept {
		height: auto; 
		min-height: 45vh; 
	}
	
	.sub_title::before {
		top: -25%;
		left: 15%;
	}

	.sub_title::after {
		bottom: 27%;
		right: 14%;
	}
	
	.text_box3 { 
		font-size: 16px; 
		font-weight: 300; 
		line-height: 26px; 
		max-width: 100%;
	}
	
	.underline { 
		font-size: 16px; 
		line-height: 26px; 
	}
	
	.sub_title br { display: none; }
	
	.brsp { display: none; }
	
	/*circle*/
	
	.circle::before {
		display: none; 
		position: absolute;
		content: 'ABOUT';
		color: #fff;
		line-height: 80px;
		font-weight: 400;
		z-index: 30;
		font-size: .9rem;
		top: -39px;
		left: 47%;
	}

	.circle::after {
		position: none;
		content: '';
		display: inline-block; 
		top: -35px;
		left: 46%;
		padding: 4.3%;
		background-color: rgb(236, 185, 77);
		border-radius: 50%;
		z-index: 0;
	}
	
	.circle {
		position: relative; 
	}
	
	/*about*/
	
	.about .wrapper {
		padding: 8% 2%; 
	}
	
	.about_box p {
		font-size: 16px; 
		line-height: 26px; 
	}

	.flex_title h4 {
		font-size: 16px; 
		line-height: 26px; 
	}

	.about .flex_box {
		max-height: 218px; 
	}

	.about .flex_item {
		max-height: 216px; 
	}

	.about .flex_item .item2, 
	.about .flex_item .item4 {
		margin: 0 2%; 
	}

	.about .flex_item .item1 img, 
	.about .flex_item .item3 img, 
	.about .flex_item .item4 img {
		width: 3rem; 
	}

	.about .flex_item .item2 img { width: 4.2rem; }

	.about .flex_item .item5 img { width: 7.2rem; }
	
	
	/*about2*/

	.about2 {
		max-width: 100%; 
		max-height: 930px; 
	}

	#about2 { 
		max-width: 100%; 
		min-height: 810px; 
	}

	.about2_box {
		font-size: 20px; 
	}
	
	.about2 .flex_item {
		align-items: center; 
		flex-direction: column !important;
		text-align: center; 
		margin: 0 auto; 
		justify-content: center; 
		flex-wrap: wrap; 
	}

	.about2 .item {
		margin: 0 auto 2%; 
		width: 322px; 
		height: 168px; 
	}

	.about2 .item h6 {
		width: 262px; 
		height: 18px; 
	}
	
	.about2_blue {
		height: auto;
	}
	
	/*learn*/
	
	.learn_item p {
		font-size: 16px; 
		line-height: 26px; 
	}
	
	.learn_box img {
		width: 150px; 
		height: 120px; 
		margin-right: 5px; 
		padding: 0 15px; 
	}
	
	.learn_item br { display: none; }

	.learn_text p {
		font-size: 14px; 
		line-height: 22px; 
	}
	
	/*merit*/

	.merit .flex_item {
		display: flex; 
		flex-direction: row; 
		justify-content: center; 
		align-items: start; 
	}
	
	.merit_item .sub_title h4 { font-size: 16px; line-height: 40px; }
 
	.merit_item .sub_title h2 { font-size: 24px; line-height: 40px; }
	

	.merit .item_title { 
		font-size: 14px; 
		line-height: 26px; 
		text-align: center; 
	}

	.merit .flex_item p { 
		font-size: 14px; 
		line-height: 22px; 
		text-align: left; 
		letter-spacing: .08rem; 
	}

	.merit_box {
		font-size: 16px; 
		font-weight: 600; 
		line-height: 26px; 
	}

	.merit_box h4 {
		font-size: 24px; 
		line-height: 38px; 
	}

	.merit_box h6 {
		font-size: 16px; 
		line-height: 26px; 
	}

	.merit_text {
		margin: 0 auto; 
		padding: 3%; 
		text-align: center; 
		font-size: 14px; 
		line-height: 22px; 
	}
	
	.merit_box p {
		font-size: 14px; 
	}
	
	.merit_text br { display: inline-block; }
	
	/*opinion*/
	
	.opinion_box .sub_title small br { display: none; }

	/*opinion*/

	.opinion_title { 
		font-size: 20px; 
	}

	.opinion_title .qanda {
		width: 80px;
		min-height: 80px;
	}

	.opinion_title .qanda p {
		font-size: 18px; 
	}

	.opinion_box .sub_title h2 {
		font-size: 24px; 
		line-height: 38px; 
	}

	.opinion_box .sub_title p {
		font-size: 14px; 
	}

	.opinion_box .sub_title small {
		font-size: 12px; 
		line-height: 19px; 
	}
	
	.opinion .inside .text-left p {
		font-size: 18px; 
		font-weight: 400; 
		line-height: 29px; 
	}

	.opinion .inside .name p {
		font-size: 15px; 
		font-weight: 400; 
		line-height: 24px; 
	}
	
	/*learn2*/

	.learn2 .sub_title h2 {
		font-size: 24px; 
	}

	.learn2 .sub_title p {
		font-size: 14px; 
		line-height: 22px; 
	}

	.learn2 .item_title {
		font-size: 16px; 
		line-height: 26px; 
	}

	.learn2 .item_content p {
		font-size: 14px; 
		line-height: 22px; 
	}


		

}

/*Surface Duo-------------------------------------------*/
@media(min-width: 500px) and (max-device-width: 540px) {
	/*concepr*/
	#concept {
		height: auto; 
		min-height: 90vh; 
	}
	
	/*circle*/
	
	.circle::before {
		display: inline-block; 
		font-size: .9rem;
		top: -39px;
		left: 44%;
	}

	.circle::after {
		display: inline-block; 
		top: -30px;
		left: 43%;
		padding: 5.8%;
	}
	
	/*about*/
	
	.about .wrapper {
		padding: 8% 2%; 
	}
	
	/*learn*/
	
	
	.learn_box img {
		width: 120px; 
		height: 90px; 
		margin-right: 5px; 
		padding: 0 15px; 
	}
	
	/*merit*/

	.merit .flex_item {
		flex-direction: column; 
		justify-content: center; 
		align-items: center; 
	}
	
	/*opinion*/
	
	.opinion_box .sub_title small br { display: inline; }

}




